<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find cs685)/maps/map.yaml"/>
  <!-- <param name="/use_sim_time" value="true"/> -->
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="model" default="burger"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <!-- <param name="frame_id" value="map"/> -->
  </node>

  <!-- AMCL -->
  <include file="$(find cs685)/launch/amcl_robot1.launch"/>
  <include file="$(find cs685)/launch/amcl_robot2.launch"/>
  <include file="$(find cs685)/launch/amcl_robot3.launch"/>


   <!--local-controller -->
  <include file="$(find cs685)/launch/local_controller_1.launch" />
  <include file="$(find cs685)/launch/local_controller_2.launch" />
  <include file="$(find cs685)/launch/local_controller_3.launch" />


  <!-- rviz -->
<!--   <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find cs685)/rviz/turtlebot3_navigation_local2.rviz"/>
  </group>
 -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find cs685)/rviz/turtlebot3_navigation_local3.rviz"/>
  </group>

</launch>
